:root {
	--frame: solid 1px #888;
}

.panel {
	max-width: 760px;
	margin: auto;
	border: var(--frame);
	border-radius: .5rem;
	display: flex;
	@media (width < 768px) {
		flex-direction: column;
	}

	> * {
		flex: 1;
		padding: 1rem;
	}
	> *:not(:first-child) {
		@media (width < 768px) {
			border-top: var(--frame);
		}
		@media (width >= 768px) {
			border-inline-start: var(--frame);
		}
	}

	.controls {
		container-type: inline-size;
		display: flex;
		flex-direction: column;
		gap: .5rem;

		.input-group input {
			display: block;
			box-sizing: border-box;
			width: 100%;
		}

		.input-group.double {
			display: flex;
			gap: inherit;
			@container (width < 300px) {
				flex-direction: column;
			}

			> * {
				flex: 1;
			}
		}
	}

	.preview {
		display: grid;
		place-items: center;

		svg {
			border: var(--frame);
			background-image: conic-gradient(
				#0000,
				#0000 .25turn, #0001 .25turn,
				#0001 .50turn, #0000 .50turn,
				#0000 .75turn, #0001 .75turn,
				#0001
			);
			background-size: 16px 16px;
		}
	}
}
