:root {
	--frame: solid 1px #888;
}

.panel, details {
	box-sizing: border-box;
	max-width: 1024px;
	margin: auto;
	border: var(--frame);
	border-radius: .5rem;
}

.panel {
	display: flex;
	@media (width < 500px) {
		flex-direction: column;
	}

	> * {
		flex: 1;
		padding: 1rem;
	}
	> *:not(:first-child) {
		@media (width < 500px) {
			border-top: var(--frame);
		}
		@media (width >= 500px) {
			border-inline-start: var(--frame);
		}
	}

	.controls, .preview {
		container-type: inline-size;
		display: flex;
		flex-direction: column;
		gap: .5rem;

		.input-group {
			input[type="number"], input[type="color"] {
				display: block;
				box-sizing: border-box;
				width: 100%;
			}
		}

		.input-group.double {
			display: flex;
			gap: inherit;
			@container (width < 250px) {
				flex-direction: column;
			}

			> * {
				flex: 1;
			}
		}

		.box {
			flex-grow: 1;
			display: grid;
			place-items: center;

			svg {
				border: var(--frame);
				background-image: conic-gradient(
					#8880,
					#8880 .25turn, #8882 .25turn,
					#8882 .50turn, #8880 .50turn,
					#8880 .75turn, #8882 .75turn,
					#8882
				);
				background-size: 16px 16px;
			}
		}
	}
}

details {
	margin-top: .5rem;
	padding: 1rem;

	pre {
		overflow-x: scroll;
		padding: .5rem;
		background: #8884;
	}
}
